.background {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: green;

  .overlay {
    @include overlay;

    background-color: rgba(0, 66, 0, 0.3);
    transition: background-color 0.5s;

    &.has-medium-opacity {
      background-color: rgba(0, 66, 0, 0.15);
    }

    &.has-no-opacity {
      background-color: transparent;
    }
  }

  svg {
    @include overlay(fixed);

    width: 100% !important;
    height: 100% !important;
  }
}
