.background {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: green;

  .overlay {
    @include overlay;

    background-color: rgba(0, 66, 0, 0.3);
    transition: background-color 0 ease-in-out;

    &.is-fully-visible {
      background-color: rgba(0, 66, 0, 0);
      transition-duration: 8s;
    }
  }

  svg {
    @include overlay(fixed);

    width: 100% !important;
    height: 100% !important;
  }
}
