.title {
  display: flex;
  font-family: 'Caveat Brush', cursive;
  font-size: 10rem;
}

.letter-wrapper {
  position: relative;
  min-width: 1rem;
  margin-right: 0.1rem;

  &.is-visible {
    opacity: 1;
  }

  &.has-wave-animation {
    transform: translateY(-5%);
    animation: wave-animation 2s alternate infinite ease-in-out;
  }
}

.letter {
  opacity: 0;

  &.has-show-animation {
    animation: show-animation 5s;
  }
}

@keyframes show-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wave-animation {
  0% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(5%);
  }
}
