.wrapper {
  position: relative;
  min-width: 1rem;
  margin-right: 0.1rem;

  &.has-animation {
    transform: translateY(-5%);
    animation: vertical-moving 2s alternate infinite ease-in-out;
  }
}

@keyframes vertical-moving {
  0% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(5%);
  }
}
