.swim-wrapper {
  position: absolute;
  top: 85%;
  width: 4.5rem;
  height: 4.5rem;
  opacity: 0.5;

  &.is-swimming {
    animation: swim 10s linear;
  }
}

.drop-wrapper {
  width: 100%;
  height: 100%;
  background-color: $light-teal;
  border-radius: 50%;
  border: 5px solid $white-teal;
  opacity: 0;
  pointer-events: none;
  transform: scale(1.3);
  transition: all 0.5s;

  &.is-visible {
    opacity: inherit;
    pointer-events: all;
    transform: scale(1);
    animation: show 0.5s;
  }
}

.satellites-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: 50% 50%;
}

.main-button {
  @include button-reset;

  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.secondary-button {
  @include button-reset;

  position: absolute;
  top: 15%;
  right: 15%;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  background-color: $white-teal;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    opacity: inherit;
    transform: scale(1);
  }
}

@keyframes swim {
  0% {
    top: 85%;
  }
  100% {
    top: 0;
  }
}
