@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin overlay($position: absolute) {
  position: $position;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin button-reset {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin at-small() {
  @media (min-width: 450px) {
    @content;
  }
}

@mixin at-medium() {
  @media (min-width: 700px) {
    @content;
  }
}
