.wrapper {
  @include overlay;
  @include flex-center();

  z-index: 3;
  font-size: 30rem;
  color: rgba(0, 0, 0, 0.6);
}

.enter-active {
  transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

.enter {
  opacity: 0;
  transform: scale(1.5);
}

.start-text {
  @include flex-center();

  font-size: 20rem;
}
