.wrapper {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 100;
}

.inner-wrapper {
  height: 3rem;
  width: 20rem;
  border: 1px solid black;
  border-radius: 1rem;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
}

.health-bar {
  height: 100%;
  border-radius: 1rem;
  background-color: $hp-green;
  opacity: 0.5;
  transition: width 0.3s ease, color 0.3s ease;

  &.is-yellow {
    background-color: $hp-yellow;
  }

  &.is-red {
    background-color: $hp-red;
  }
}
